@charset "utf-8";
/* CSS Document */

/* reset */
*{ outline:none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd,ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}
body{ background-color:#fff; font:normal 0.6rem/1.5 Arial,"微软雅黑","Helvetica";}
a{ margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent;text-decoration: none;}
.clearfix:after{ font-size:0; line-height:0; content:"\020"; display:block; height:0; clear:both;}
.clearfix{zoom:1;}
.c{clear:both;}
input, select{ vertical-align:middle; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block;}
blockquote{ margin: 1em 40px;}
hr{ display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
ins{ background-color:#ff9; color:#000; text-decoration:none;}
mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
abbr[title], dfn[title]{ border-bottom:1px dotted #000; cursor:help;}
pre, code, kbd, samp{ font-size: 16px; font-family: monospace, serif; _font-family: "courier new", monospace;}
pre{ white-space: pre; white-space: pre-wrap; word-wrap: break-word }
small{ font-size: 85%;}
sub, sup{ font-size: 75%; line-height: 0; position: relative; vertical-align: baseline }
sup{ top: -.5em;}
sub{ bottom: -.25em;}
blockquote:before, blockquote:after,
q:before, q:after{ content:''; content:none;}
ul, ol, li{ list-style:none; list-style-image: none;}
img{ border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;margin:0;padding:0;}
audio{ display:none}
canvas,video{ display:inline-block;*display:inline;*zoom:1}
[hidden]{ display:none}
audio[controls]{ display:inline-block;*display:inline;*zoom:1}
mark{ background-color:#ff0; color:#000}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}/*去除手机版浏览器的点击特性-灰色阴影*/

/*字体*/
.text-pri{color:#6692ff;}
.text-sub{color:#f8b551;}
.text-gray{color:#f5f5f5;}
.text-link{color:#38b9fc;}
.fontSize36{font-size: 0.9rem;}
.fontSize30{font-size: 0.75rem;}
.fontSize28{font-size: 0.7rem;}
.text-333{color:#333;}
.text-666{color:#666;}
.text-999{color:#999;}
.text-ccc{color:#ccc;}
.lineBG{color:#ddd;}

/*按钮*/
.com-btn{display:inline-block;box-sizing:border-box;min-width:7.5rem;text-decoration:none;font-size:0.75rem;line-height:1rem;text-align:center;padding:0.6rem 0;border-radius: 4px;color: #fff;border: 0.05rem solid #6692ff;background: #6692ff; transition: all .3s ease;}
.com-btn:link{background: #6692ff;}
.com-btn:visited{background: #6692ff;}
.com-btn:hover{background: #5887fb;}
.com-btn:active{background: #5887fb;}
.com-btn-default{color: #6692ff;border-color:#6692ff;background: #fff;}
.com-btn-default:link{background: #5887fb;}
.com-btn-default:visited{background: #fff;}
.com-btn-default:hover{background: #e8efff;}
.com-btn-default:active{background: #e8efff;}
.com-btn-disabled{color:#cccccc;border-color:#cccccc;background: #fff;pointer-events: none;}
.com-btn-disabled:link,.com-btn-disabled:visited,.com-btn-disabled:hover,.com-btn-disabled:active{background: #fff;}
.com-btn-default.com-btn-disabled{color:#999999;border-color:#dddddd;background: #dddddd;}
.com-btn-block{display:block;}
.com-btn-small{min-width:5.5rem;font-size: 0.7rem;line-height:1.25rem;padding:0.125rem 0;}
.com-btn-subSmall{min-width: 4rem;font-size: 0.7rem;line-height:1.25rem;padding:0.125rem 0;}

/*开关*/
.com-transferWrap {display: inline-block;}
.com-transferWrap input{display: none;}
.com-transfer{ width:3.4rem;height: 1.7rem; border: 0.05rem solid #e0e1ea;border-radius: 1.7rem;background-color: #f4f4f8;display: inline-block; position: relative;transition: all .3s ease;box-sizing: content-box;}
.com-transfer::after{content: ""; width: 1.7rem; height: 1.7rem; background-color: #fff;border-radius: 1.7rem;left: 0;top: 0px;position: absolute; z-index: 1; transform: translateX(0); transition: all .3s ease;box-shadow: 0 0 10px rgba(0,0,0,.1);}
.com-transfer.cur{border-color: #39d520;background: #39d520;}
.com-transfer.cur::after{ transform: translateX(100%);}
.com-transferWrap input:checked +.com-transfer{border-color: #39d520;background: #39d520;}
.com-transferWrap input:checked +.com-transfer::after{transform: translateX(100%);}
/*自定义checkbox*/
.icheck-wrap{display: inline-block;overflow: hidden;width: 1rem;height: 1rem;position: relative;}
.icheck-wrap  >input {position: absolute;z-index: 10;left: 0px;top: 0px;transform: scale(2);opacity: 0;}
.icheck-wrap .icheck-span{width: 1rem;position: relative;height: 1rem;display: block;box-sizing: border-box;border: 0.05rem solid #c1c4d6;border-radius: 0.2rem;}
.icheck-wrap 	>input:checked +span.icheck-span {background: url(../images/checkIcons.png) no-repeat -2px -2px/9.65rem;border-color: #6692ff;}
.icheck-disabled +.icheck-span{background: #e9e9ec;}
.icheck-wrap >input.icheck-disabled:checked +.icheck-span{background: url(../images/checkIcons.png) no-repeat -3.95rem -2px/9.65rem;border-color: #c1c4d6;}

/*自定义radio*/
.iradio-wrap {display: inline-block;overflow: hidden;width: 1rem;height: 1rem;position: relative;}
.iradio-wrap  >input {position: absolute;z-index: 10;left: 0px;top: 0px;transform: scale(2);opacity: 0;}
.iradio-wrap .iradio-fill{border: 0.05rem solid #c1c4d6;border-radius: 50%;width: 100%;height: 100%;position: absolute;box-sizing: border-box;}
.iradio-wrap .iradio-fill::after{content:'';width: 8px;height:8px;display: block;box-sizing: border-box;border-radius: 50%;background: #c5c8d9;position: absolute;z-index: 5;transform:translate(-50%,-50%);top: 50%;left: 50%;}
.iradio-wrap 	>input:checked +.iradio-fill {background: #6692ff;border-color: #6692ff;}
.iradio-wrap 	>input:checked +.iradio-fill:after {background: #fff;}
.iradio-disabled +.iradio-fill{background: #e9e9ec;}
.iradio-disabled +.iradio-fill::after{background: #c5c8d9;}
.iradio-wrap 	>input.iradio-disabled:checked +.iradio-fill{background: #c5c8d9;border-color: #c3c6d7;}
.iradio-wrap 	>input.iradio-disabled:checked +.iradio-fill::after {background: #f3f3f4;}
